body {
  background-color: rgb(235, 235, 235);
  background: #536976;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #6500C0, #6500C0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #8A00FF, #8A00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: 'Open Sans', sans-serif;
  color: rgb(120, 120, 120);
  font-weight: 300;
  line-height: 1.5em;

  position: relative;
}


/*------------------------------SIDEBAR ------------------------------*/
#sidebar {
  position: fixed;
  width: 100px;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgb(235, 235, 235);
  box-shadow: 1px 1px 1px rgb(200, 200, 200);
}

#sidebar li i {
    height: 32px;
    width: 32px;
    font-size: 30px;
    margin: 20px;
    padding: 10px;
    border-bottom: 1px solid grey;
}

/*------------------------------ PAGE CONTENT ------------------------------*/
#page-content {
  margin-left: 200px;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

h2, h3 {
 font-weight: 300;
}

h1 {
  color: rgb(0, 215, 155);
}


h2 {
  font-size: 25px;
  color : rgb(0, 0, 100, 0.6);
}

h3 {
  font-size: 16px;
  color : rgb(20, 20, 20, 0.8);
}

.container {
  width: 900px;
  margin: 0 auto;
}

.fa-leaf {
  color: #68E2B3;
}

.fa-rocket {
  color: #F17540;
}

li a {
  color: rgb(120, 120, 120);
  text-decoration: none;
}

li a:hover {
  color: rgb(0, 215, 155);
}

.box-white {
  background-color: #FAFAFA;
  margin: 15px;
  border-radius: 5px;
  padding: 20px 10px;
  box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.6);
}

/*#coffee input {
  display: inline-block;
}*/

#coffee i {
  color: #EBA340;
  margin-left: 10px;
}

.text-center {
  text-align: center;
}

form div {
  width: 200px;
  padding: 10px;
  display: inline-block;
  margin: 0 auto;
  font-weight: lighter;
}


ul {
  padding: 0;
}

.list-inline li{
  display: inline-block;
  margin: 25px;

}
.list-inline li i{
  font-size: 30px;
  padding: 10px;
}

.btn-green {
  background-color: rgb(0, 215, 155);
  padding: 10px;
  border-radius: 4px;
  color: white;
  font-weight: 500;
  text-decoration: none;
}

.btn-red {
  background-color: rgb(218, 0, 0);
  padding: 10px 25px;
  border-radius: 4px;
  color: white;
  font-weight: 500;
  text-decoration: none;
}

.btn-green:hover {
  text-decoration: none;
  background-color: rgba(0, 215, 155, 0.8);
}

.btn-red:hover {
  text-decoration: none;
  background-color: rgb(218, 0, 0, 0.8);
}


#cicle-profil-picture {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 1px solid rgba(200, 200, 200, 0.8);
  /*box-shadow: 10px, 10px, 5px, red;*/
}


#movies img {
  width: 80px;
  height: 120px;
}

#movies h3,#movies p {
  text-align: justify;
  padding: 0px 10px;
}

#movies td {
  padding: 5px 0px;
}

 @media (max-width: 960px) {

  .container {
    width: 450px;
  }

}
@media (max-width: 700px) {

  .container {
    width: 350px;
  }
  #page-content {
    margin-left: 100px;
  }
  #sidebar {
    width: 100px;
  }
}
@media (max-width: 450px) {

  .container {
    width: 300px;
  }
  #page-content {
    margin-left: 50px;
  }
  #sidebar {
    opacity: 0;
    width: 0;
  }
}



